body{
  background-color:cyan;
}

#contenedor{
  width: 400px;
  height: 500px;
  margin: 0 auto;
  background-color: pink;
}

#pelo{
  width: 250px;
  height: 340px;
  background: linear-gradient( #5D4037 120px, #FFFF66 );
  border-radius: 100% 100% 0px 0px;
  margin-left: 100px;
}

#cara{
  width: 300px;
  height: 300px;
  background-color: #f5deb3;
  clip-path: ellipse(35% 44% at 49% 52%);
}

.mechas{
  width: 150px;
  height: 150px;
  background:linear-gradient( #5D4037 100px, #FFFF66 );
  border-radius: 100px;
  float: left;
  margin-top: -36px;
}

.ojos{
  width: 50px;
  height: 50px;
  background-color: white;
  position:relative;
}

#ojo1{
  border-radius:28% 72% 0% 100% / 12% 100% 0% 88%;
  transform: rotate(-45deg);
  left: 75px;
  top:110px;
}

#ojo2{
  border-radius:0% 100% 12% 88% / 0% 72% 28% 100%;
  transform: rotate(-45deg);
  left: 165px;
  top: 60px;
}

.pupila{
  width: 25px;
  height: 25px;
  background-color: #040407;
  border-radius: 50%;
  position:absolute;
  left: 13px;
  top: 12px;
}

#brillo{
  width: 10px;
  height: 10px;
  background-color:white;
  border-radius: 50%;
  position:absolute;
  left: 8px;
  top: 8px;
}

#nariz{
  width: 25px;
  height: 15px;
  border-radius: 62% 38% 100% 0% / 100% 37% 63% 0%;
  background-color:#fad6a5;
  border-radius: 0px 0px 100% 100%;
  position: relative;
  left: 132px;
  top: 80px;
}

#boca{
  width: 50px;
  height: 10px;
  background-color: red;
  border-radius: 20px 20px 100% 100%;
  position: relative;
  left: 125px;
  top: 110px;
}
